Flask==0.12.1
Flask-Login==0.4.0
Flask-OpenID==1.2.5
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.2
sqlalchemy-migrate==0.11.0
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flask-Babel==0.11.1
guess-language==0.2
flipflop==1.0
coverage==4.3.4
